.container {
  width: 100%;
  height: 100vh;
  padding: 25px;
}

.box {
  border: 2px solid #ccc;
  padding: 50px;
  max-width: 768px;
  margin: 0 auto;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.rand {
  font-size: 24px;
  font-weight: bold;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

.guess {
  display: flex;
  gap: 5px;
  margin-top: 15px;
}

.guessField {
  width: 100%;
  padding: 5px;
}

.guessSubmit {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.guessSubmit:disabled {
  cursor: not-allowed;
  background-color: #ccc;
  color: #666;
}

.resultParas {
  margin-top: 15px;
}

.lastResult {
  transition: background-color 0.3s, color 0.3s;
  margin: 10px 0;
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(to bottom, #e40a0a, #d11313);
  color: white;
}

.lastResult.correct {
  transition: background-color 0.3s, color 0.3s;
  margin: 10px 0;
  border-radius: 10px;
  padding: 10px;
  background: linear-gradient(to bottom, #0ec90e, #2ee03d);
  color: white;
}

.startNew,
.gameOver {
  border: none;
  padding: 10px 20px;
}

.startNew {
  transition: background-color 0.3s, color 0.3s;
  background: linear-gradient(to bottom, #34b64a, #228c2e);
  color: white;
  width: 200px;
  display: block;
  text-align: center;
  font-size: large;
  margin: 20px auto 0;
  cursor: pointer;
}

.gameOver {
  background-color: blue;
  color: white;
  text-align: center;
  font-size: x-large;
  width: 300px;
  display: block;
  margin: 20px auto 0;
  border-radius: 5px;
}


