.container {
  width: 100%;
  height: 100vh;
  padding: 25px;
}

.box {
  border: 2px solid #ccc;
  padding: 50px;
  max-width: 768px;
  margin: 0 auto;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.rand {
  font-size: 24px;
  font-weight: bold;
}

h1 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

.guess {
  display: flex;
  gap: 5px;
  margin-top: 15px;
}

.guessField {
  width: 100%;
  padding: 5px;
}

.guessSubmit {
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.guessSubmit:disabled {
  cursor: not-allowed;
  background-color: #ccc;
  color: #666;
}

.resultParas {
  margin-top: 15px;
}

.lastResult {
  margin: 10px 0;
  border-radius: 10px;
  padding: 10px;
  background: red;
  color: white;
}

.lastResult.correct {
  margin: 10px 0;
  border-radius: 10px;
  padding: 10px;
  background: rgb(106, 175, 2);
  color: white;
}

.startNew,
.gameOver {
  color: #fff;
  border: none;
  padding: 10px;
}

.startNew {
  background-color: #28a745;
  width: 120px;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}

.gameOver {
  background-color: blue;
  width: 100px;
  border-radius: 10px;
}
